html{

    font-family: Luminari;

}
@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: normal;
    src: local('Luminari'), url('../src/Luminari-Regular.woff') format('woff');
}
h1{

    margin: 0;
    font-size: 2.5em;
    font-weight: bold;

}
p{

    src: local('Lato'), url('../src/Lato-Regular.ttf') format('ttf');
    font-family: 'Lato';
    margin: 0;
    font-size: 1.6em;
}
